page-editor {
    .button-md-dark{

        width: -webkit-fill-available;
    }
    [col-4]{

        padding:0px !important;
    }
    .fab-md{
      background-color: #33CC66 !important;
    }
    .floating-label {
        position: absolute;
        pointer-events: none;
        color: white !important;
        // left: 20px;
        // top: 18px;
        // transition: 0.2s ease all;
        font-size: 1.8em;
        margin-left: 12px !important;
    font-family: serif;
    font-weight: bold;
    margin-top: 2px !important;
      }
      .one{
        background:black !important;
        border-radius: 30px !important;
      }
      .two{
        background:deepskyblue !important;
        border-radius: 30px !important;
      }
//       input:focus ~ .floating-label,
// input:not(:focus):valid ~ .floating-label{
//     font-size: 1.8em;
//     font-family: serif;
//     font-weight: bold;  bottom: 10px;
//   left: auto !important;
//   opacity: 1;
// }
// .bar-button-md[icon-only] ion-icon{

//     padding-top: 4px !important;
// }
ion-fab[bottom]{
  bottom:10px !important;
  left: 0px !important;
}
ion-navbar.toolbar{
  padding-top: 0px !important;
}
.scroll-content {
  background-color: black !important;
  margin-bottom: 0!important;

  overflow-y: hidden !important;
}
.inputText {
  font-size: 14px;
  background: black !important;
  color:black !important;
  border-radius: 30px !important;
  border:none !important;
  width: 40px !important;
//   width: 200px;
  height: 35px;
  position: absolute;
}
::placeholder {
  color: red !important;
}
.inputTextt {
  font-size: 14px;
  background: deepskyblue !important;
  border-radius: 30px !important;
  border:none !important;

  color:deepskyblue !important;
  width: 40px !important;
//   width: 200px;
  height: 35px;
  position: absolute;
}
// ion-footer{
//   background-color: black !important;

// }

.toolbar .toolbar-background {
  background-color: black !important;
}
.twoo{
  background:white !important;
  height:-webkit-fill-available !important;
  width :-webkit-fill-available !important;
}
.onee{
  background:white !important;
  height:360 !important;
  width :360 !important;
}
.progress-outer {
  width: 96%;
  margin: 3x 2%;
  padding: 5px;
  text-align: center;
  background-color: #f4f4f4;
  border: 1px solid #dcdcdc;
  color: #fff;
  border-radius: 20px;
}

.progress-inner {
  min-width: 15%;
  white-space: nowrap;
  overflow: hidden;
  padding: 5px;
  border-radius: 20px;
  background-color: map-get($colors, primary);
}
// ion-icon{
//   color: white !important;

// }

    #measure { position: absolute; left: -10000px; top: -100000px;}
// canvas { border: 1px solid red; }
}
