page-bluetooth {

    .button-md{

        background-color: #682421 !important;
    }
    .button-md{

        width: 90px !important;
        font-size: 1.2rem !important;
        border-radius: 5px !important;
    }
}
