page-wishlist {  
    
    .scroll-content{

        padding:0px !important;
        padding-bottom: 40px !important;
        margin-bottom: 50px !important;
    }
    .row{
        padding: 1px !important;
    }
}