<ion-header>
    <ion-navbar>
        <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
        <ion-title>E-Catalog</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="openFilter()">
                <ion-icon name="funnel"></ion-icon>
            </button>
        </ion-buttons> 
    </ion-navbar> 
</ion-header> 

<ion-content padding-vertical> 
    <ion-grid no-padding>
        <ion-row *ngIf="designData.length > 0" text-center>
            <ion-col text-wrap col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4  *ngFor="let item of designData; let i=index" class="custom-2col" [ngClass]="animateClass" (click)="openDesign(item.design_no)">
                <ion-card>
                    <img class="full-image" src='{{item.image}}' onerror="this.onerror=null;this.src='assets/no-img.png';" imageCache/>
                    <ion-item text-center no-margin>
                        <h5 class="text-small theme-color">{{item.design_name}}</h5>
                        <p class="text-xsmall"> {{item.product_name}}</p>
                        <p class="text-xsmall" *ngIf="item.collection_name != null"> {{item.collection_name}}</p>
                    </ion-item>
                </ion-card> 
            </ion-col>
        </ion-row> 
    </ion-grid>
    
    <ion-row *ngIf="designData.length == 0 " style="text-align: center;">
        <ion-col>
            <h4>No Products Found</h4>
        </ion-col>
    </ion-row>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>