page-status-view {


  ion-fab button{
    width: 60px !important;
	background:#F08026;
}
.empty{
text-align:center;
}
ion-label {
    white-space: normal;
}
.item-block{
	min-height: 1.4rem;
}
// .card-md{
// 	margin: 2px;
// 	border:none;
// 	border-bottom: 1px solid #acacac;
// 	width:100% !important;
// 	box-shadow:none;
// 	-webkit-box-shadow:none;
// }
.card-md{
	margin: 5px;
	// border:none;
/* 	border: 1px solid #acacac;
	width:97% !important;
	border-radius: 10px; */

	// box-shadow:none;
	// -webkit-box-shadow:none;
}
.item-md{
	padding-left: 6px;
}
.item-md h3, .item-md p, .item-md h4{
font-size: 1.3rem;
}
.item-ios ion-avatar img {
    max-width: 7rem;
    max-height: 7rem;
    border-radius: 0;
}

.item-md ion-avatar img {
    max-width: 8rem;
    max-height: 8rem;
    border-radius: 0;
}

.heading
{
color:#ccc;
font-size: 17px;
padding: 11px;
line-height: 25px;
}

.col-size{
	margin-bottom: 0px;
	font-size: 16px;
}
.item-md ion-avatar ion-img, .item-md ion-avatar img{
	width: 75px;
    height: 75px;
    }
 .item-md ion-avatar[item-left], .item-md ion-thumbnail[item-left], .item-md ion-avatar[item-start], .item-md ion-thumbnail[item-start]{
      margin: 2px 6px 2px 0;
}
.col {
	padding:0px;
	}
.label-md {
    margin: 5px 5px 5px 0;
    font-weight:bold;
    font-size: 1.2rem;
}
.fab-md-in-list{
	background-color: #3474e1;
	color:#FFF;
	}
/* 	.scroll-content{
	margin-bottom: 80px !important;
  margin-top: 50px !important;
  height: 80vh;
} */
 .scroll-content {
  padding: 0px !important;
}
.wt{
  width: 50%;
}

.ser_key{
padding: 7px;
}

.font-s{
  font-size: 11px;
}
.row{
  margin: 5px !important;
}

}



