page-add-esti-item {
    @media only screen and (min-width: 540px){
        .custom-2col{
          flex: 0 0 50% !important;
        }
      }
      // .content-md hr {
      //   background-color: black !important;
      //   width: 10px !important;
      // }
      // .toggle-md .toggle-icon{
      //   width: 31% !important;
      //   height: 75% !important;
      // }
      // .toggle-md{
      //   padding: 0px !important;
      // }
      // .toggle-md .toggle-inner{
      //   top:1px !important;
      // }
}
