<ion-header>
  <ion-navbar>
    <ion-title>
      Search {{page}}
    </ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="dismiss()">
            <ion-icon item-right name="ios-close-outline"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <span *ngIf="listType == 'normal'">
    <ion-searchbar (ionInput)="getSearch($event)"></ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let d of list" (click)="selected(d)">
        <span *ngIf="page == 'category'">{{ d.name }}</span> 
        <span *ngIf="page == 'Product'">{{ d.label }}</span> 
        <span *ngIf="page == 'Design'">{{ d.label }}</span> 
        <span *ngIf="page == 'Purity'">{{ d.label }}</span> 
        <span *ngIf="page == 'subDesign'">{{ d.sub_design_name }}</span>
      </ion-item>
    </ion-list>
  </span>
  <!-- <tree-view *ngIf="page == 'Product'" [TreeData]="list" [hasCheckbox]="true"></tree-view> -->
</ion-content>
