page-designs {
 
    .card-md {
        margin: 5px !important;
        margin-bottom: 0px !important;
        width: calc(100% - 5px) !important;
    }
    #notification-button {            
        // position: relative;
        // width: 42px;
        // // top:1px;
        // right: 1px;
        // overflow: visible!important;
        float: right;
    }
    
    
    #notifications-badge {
        background-color: red;
        position: absolute;
        top: -9px;
        right: 7px;
        border-radius: 100%;
        padding: 0px;
    padding-top: 3px;
    height: 17px;
    width: 17px;
    }
    .ion-badge{
    
    
        font-size: 1rem !important;
    }
}