page-instock {
	.st{
        opacity: 0.5 !important; 
    
    }
    .nost{
    }
    .card-md {
         margin: 0px !important; 
         width: calc(100% - 0px) !important;
    }
    .toolbar .toolbar-title{
        text-transform: capitalize !important;
        font-size: 13px !important;
    }
    .toolbar .toolbar-title {
        color: black !important;
        font-weight: bold !important;
    }
    .scroll-content{
        margin-bottom: 50px !important;
    }
    .notification-button {            
        width: 30px !important;
        // top: -6px;
        // right: -6px;
        // overflow: visible!important;
        float: right;
    }
    #notifications-badgee {
        background-color: red;
        position: absolute;
        top: -6px;
        right: -6px;
        border-radius: 100%;
        font-size: 10px !important;
    padding: 0px;
    padding-top: 3px;
    height: 17px;
    width: 17px;
    }
    
    
    #notifications-badge {
        background-color: red;
        position: absolute;
        top: -9px;
        right: 4px;
        border-radius: 100%;
        padding: 0px;
    padding-top: 3px;
    height: 17px;
    width: 17px;
    }
    .ion-badge{
    
    
        font-size: 1rem !important;
    }

    .co{
        background: #ffc04b;
        color: red;
        border-radius: 5px;
        position: absolute;
        right: 0px;
        }
    .noco{
        background: #ffc04b;
        color: white;
        border-radius: 5px; 
        position: absolute;
    right: 0px;
    }
}
