<ion-header>
  <ion-navbar>
      <ion-title>Filter</ion-title>
  <ion-buttons end>
    <button  ion-button (click)="close()">
      <ion-icon name="close"></ion-icon>
    </button>
  </ion-buttons>
  
  </ion-navbar>
</ion-header>
<ion-content no-padding>

<ion-grid has-header has-footer>
<ion-row>
  <ion-col style="max-width: 37% !important;">
    <ion-scroll scrollX="true" scrollY="true" style="bottom: 1%;top:1%;height:100% !important;">
  <ion-list *ngFor="let item of category ; let idx = index">
    <ion-item    [ngClass]="ind == idx ? 'one':'two'" (tap)="getitems(item,idx)" >
      <ion-label> {{item}}</ion-label>
          </ion-item>
  </ion-list>
   </ion-scroll> 
  </ion-col>

<ion-col style="max-width: 63% !important;">
  <ion-searchbar *ngIf="checking(whole[featurename])" [(ngModel)]="input" placeholder="Search"
  (ionChange)="search()"         
  ></ion-searchbar> 
  <ion-scroll scrollX="true" scrollY="true" [ngStyle]="{'height.px': styleExp}"> 
  <ion-list *ngIf="checking(whole[featurename])">
     <ion-item *ngFor="let item of all ; let idx = index" >
     <ion-label >{{item.name}}<span *ngIf="item['count'] > -1">({{item['count']}})</span></ion-label>
     <ion-checkbox  [(ngModel)]="item['status']" (ngModelChange)="gett(featurename,item)" ></ion-checkbox>       
</ion-item>
  </ion-list>
  <div *ngIf=" !checking(whole[featurename])">
    <ion-item style="margin-bottom: 10px;" >
        <ion-label  color="label-color" stacked>{{featurename}}
        </ion-label>
      <ion-input  type="number" [(ngModel)]="whole[featurename]" ></ion-input> 

        </ion-item>

 </div>
 
 
</ion-scroll> 
  </ion-col>


 </ion-row>
</ion-grid>

</ion-content>

<ion-footer style="bottom: 83px !important;">
<ion-toolbar color="primary">
  <ion-buttons>
    <button ion-button (click)="resetvalue()"> Reset
    </button>
  </ion-buttons>
<ion-buttons  end>
     <button ion-button (click)="apply()"> Apply
    </button>
  </ion-buttons>
</ion-toolbar>
</ion-footer>

