page-addstone2 {
    .select-md {
        padding: 9px 8px 13px 12px !important;
   
    
        max-width: 100% !important;
        width: 100% !important;
    }
    .select-text {
        margin-top: 3px !important;
    }
    .select-md .select-icon{
        margin-top: 1px !important;
    }
}
