page-auto {
    // .searchbar-md .searchbar-input{

    //     background: white !important;
    // }
    .scroll-content{

        padding: 0px !important;
        margin-bottom: 30px;
    }
    .label-md{

        font-weight: bold !important;
    }
}
