page-direct {
    .card-header-md{
        padding:6px !important;
       }
   ion-card-header
       {
           padding:6px !important;
       }
       ion-card {
           position: relative;
           /*height: 130px;*/
           width: 100% !important;
       }
       .gallery-title {
           position: absolute;
           left: 0;
           right: 0;
           padding: 10px;
           background-color: rgba(37, 37, 37, 0.5)!important;
           bottom: 0;
           min-height: 45px;
           border-bottom: 1px solid transparent !important;
           ion-icon {
               position: absolute;
               right: 10px;
               top: 20px;
               color: theme-colors('textColors', 'primary');
               font-size: icon-size('icon-small');
           }
       }
       ion-row {
           display: block;
           &[responsive-md] [width-25] {
               width: 50%;
               display: block;
               float: left;
           }
       }
       .zoom-in {
           -webkit-animation: zoomIn 500ms;
           -moz-animation: zoomIn 500ms;
           -o-animation: zoomIn 500ms;
           animation: zoomIn 500ms;
       }
      ion-card img {
          width: unset;
          }
       .block {

         .deleteIcon {
        //    position: absolute !important;
           color: red !important;
           margin-left: 80% !important;
         }
         .deleteIcon:before {
           font-size: 30px !important;
         }
        }
        .subcat{
            padding:10px !important;
            border-bottom:3px solid #387ef5 !important;
            color:#387ef5;
            font-weight: bold;
        }
        .outofstock{
           font-size: 11px;
           color: red;
           margin-left: 7px;

       }
       .instock{
           font-size: 11px;
           color: #5ca7e2;
           margin-left: 7px;

       }
       .scroll-content{
           margin-bottom: 0px !important;
       }

        .swiper-slide img {

        //    height: 245px !important;
        }
        ion-spinner{

           display: none !important;
       }
       ion-infinite-scroll-content{
       height: 1px !important;
       min-height: 1px !important;
       }

       div.scrollmenu {
        // background-color: #630b23 !important;
        overflow: auto;
        font-weight: bold;
        white-space: nowrap;
        // background: white !important;

      }
      .button-clear-md{

        color: black !important;
    }
    .bot{
        margin-bottom: 50px !important;
    }
    .proimage{

        object-fit: cover !important;

    }

    .co{
        color: #682421 !important;
    }
    .noco{
        color: black !important;
    }
    .unselected{
        color: color($colors, theme-color) !important;
        background: #fff !important;
        border:1px solid color($colors, theme-color) !important;
    }
    .selected{
        color: white !important;
        background:color($colors, theme-color) !important;
        border:1px solid color($colors, theme-color) !important;
    }
    .purity-scroll-blk{
        height:40px;
        padding: 0px;
        .scroll-content{
            padding: 0px !important;
        }
    }
    .progress-outer {
        width: 96%;
        margin: 3x 2%;
        padding: 5px;
        text-align: center;
        background-color: #f4f4f4;
        border: 1px solid #dcdcdc;
        color: #fff;
        border-radius: 20px;
    }

    .progress-inner {
        min-width: 15%;
        white-space: nowrap;
        overflow: hidden;
        padding: 5px;
        border-radius: 20px;
        background-color: map-get($colors, primary);
    }

    .theme-title-blk{
      text-align: center;
      width: 100%;
    }
}
