page-branch {
    .scroll-content {
        /* bottom:50px !important; */
        padding: 15px !important;
    }
    .termsfont {
        font-size: small !important;
        font-weight: normal !important;
        text-align: justify;
        list-style-type: square;
    }
}
