page-faq {

    .coverphoto{
        overflow: auto;
        font-weight: bold;
        // white-space: nowrap;
        width: -webkit-fill-available;
        }
        .uploadimg1{
            height: 65px;
            width: 75px;
            object-fit: cover;
            object-position: center;
          }
          .one{
              color: green;
          }
          .two{
            color: black;
        }
        .progress-outer {
            width: 96%;
            margin: 3x 2%;
            padding: 5px;
            text-align: center;
            background-color: #f4f4f4;
            border: 1px solid #dcdcdc;
            color: #fff;
            border-radius: 20px;
        }
        
        .progress-inner {
            min-width: 15%;
            white-space: nowrap;
            overflow: hidden;
            padding: 5px;
            border-radius: 20px;
            background-color: map-get($colors, primary);
        }
        .scroll-content{
            padding: 10px !important;
            padding-bottom: 50px !important;
        }

        .unselected{
            color: color($colors, theme-color) !important;
            background: #fff !important;
            border:1px solid color($colors, theme-color) !important;
        } 
        .selected{
            color: white !important;
            background:color($colors, theme-color) !important;
            border:1px solid color($colors, theme-color) !important;
        }
        .purity-scroll-blk{
            height:40px;
            padding: 0px;
            .scroll-content{
                padding: 0px !important;
            }
        }
        .chip-md > ion-label {
            margin: -2px 10px !important;
        }
        .item-md{
            background-color: #efefef !important;
            border-radius: 5px !important;
        }
        .item-md.item-input{
            box-shadow: inset 0 0px 0 0 #f9fbff !important;
        }
        .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{

            box-shadow: inset 0 0px 0 0 #32db64 !important;
            border-bottom-color: #efefef !important;
        }
}
